@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model;
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.Model.Configuracion
@using Marfil.Dom.Persistencia.Model.Documentos.Albaranes
@using Marfil.Dom.Persistencia.Model.Documentos.Pedidos
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Resources
@model Marfil.Dom.Persistencia.Model.Documentos.Regularizacion.AsistenteRegularizacionGruposModel
@{
    var cvcuentas = FCampoverificacion.Instance.GetModel<CuentasModel>(WebHelper.ContextService);
    var cvseriecontable = FCampoverificacion.Instance.GetModel<SeriesContablesModel>(WebHelper.ContextService);
}


<form class="form-horizontal" id="step1-form">
    <div class="form-group">
        @Html.LabelFor(f => Model.Fecharegularizacion, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(f => Model.Fecharegularizacion)
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-4 col-md-offset-2">
            @Html.ValidationMessageFor(f => Model.Fecharegularizacion, "", new { @class = "text-danger", @id = "fecharegularizacionerror" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(f => Model.Fkseriescontables, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                cvseriecontable.Name = "Fkseriescontables";
                cvseriecontable.Url = Url.Action("SeriesContablesApi", "Api");
                cvseriecontable.Valor = Model.Fkseriescontables;
                //cvseriecontable.Titulo = "Series contables";
                cvseriecontable.Params = "{\"tipodocumento\":\"AST\"}";
                cvseriecontable.SoloLectura = false;
                cvseriecontable.Autofocus = true;
                cvseriecontable.Obligatorio = true;
                cvseriecontable.Configuracion.OcultarTexto = false;
            }
            @Html.Partial("CampoverificacionUI", cvseriecontable)
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-2 col-md-offset-2">
            @Html.ValidationMessageFor(f => Model.Fkseriescontables, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(f => Model.CuentaPYG, new { @class = "control-label col-md-2" })
        <div class="col-md-10" id="Cuentas">
            @{
                cvcuentas.Name = "CuentaPYG";
                cvcuentas.Url = Url.Action("CuentasApi", "Api");
                cvcuentas.Valor = Model.CuentaPYG;
                cvcuentas.Obligatorio = false;
            }
            @Html.Partial("CampoverificacionUI", cvcuentas)

        </div>
        <div class="col-md-10 col-md-offset-2">
            @Html.ValidationMessageFor(f => Model.CuentaPYG, "", new { @class = "text-danger", @id = "cuentapygerror" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioDebePYG, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(f => Model.ComentarioDebePYG, new { @class = "form-control" })
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-4 col-md-offset-2">
            @Html.ValidationMessageFor(f => Model.ComentarioDebePYG, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioHaberPYG, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(f => Model.ComentarioHaberPYG, new { @class = "form-control" })
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-4 col-md-offset-2">
            @Html.ValidationMessageFor(f => Model.ComentarioHaberPYG, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioCuentasDetalle, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(f => Model.ComentarioCuentasDetalle, new { @class = "form-control" })
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-4 col-md-offset-2">
            @Html.ValidationMessageFor(f => Model.ComentarioCuentasDetalle, "", new { @class = "text-danger" })
        </div>
    </div>
</form>