
@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Helpers
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@model Marfil.Dom.Persistencia.Model.ConfiguracionModel

    <div class="form-group">
        @Html.LabelFor(f => Model.Invertirasiento, new {@class = "control-label col-md-4"})
        <div class="col-md-1">
            @Html.CheckBoxFor(f => Model.Invertirasiento)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => Model.PrefijosPrestacionServicios, new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(f => Model.PrefijosPrestacionServicios, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioExistenciasIniciales, new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(f => Model.ComentarioExistenciasIniciales, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioExistenciasFinales, new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(f => Model.ComentarioExistenciasFinales, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioDebePYG, new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(f => Model.ComentarioDebePYG, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioHaberPYG, new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(f => Model.ComentarioHaberPYG, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioCuentasDetalle, new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(f => Model.ComentarioCuentasDetalle, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioCierreEjercicio, new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(f => Model.ComentarioCierreEjercicio, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioAperturaEjercicio, new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(f => Model.ComentarioAperturaEjercicio, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => Model.ComentarioAperturaProvisional, new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(f => Model.ComentarioAperturaProvisional, new { @class = "form-control" })
        </div>
    </div>

