@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Model.Documentos.CobrosYPagos
@using Marfil.App.WebMain.Misc
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Marfil.Dom.Persistencia.ServicesView.Servicios.Campoverificacion
@using Marfil.Inf.ResourcesGlobalization.Textos.Entidades
@using Marfil.Dom.Persistencia.Model.FicherosGenerales;
@using Marfil.Dom.Persistencia.Model.Configuracion
@using Marfil.Dom.Persistencia.Model.Configuracion.Cuentas
@using Resources

@model RemesasModel
@{
    var isreadonly = ViewData["readonly"] != null ? (bool)ViewData["readonly"] : false;
    var iseditable = ViewData["operacion"] != null && (ViewData["operacion"] == "Edit");
    var isNuevo = !isreadonly && !iseditable;
    var anulada = Model.Estado == TipoEstadoRemesa.Anulada;
    var campoverificacion = FCampoverificacion.Instance.GetModel<CuentasModel>(WebHelper.ContextService);
    var importeRemesa = WebHelper.GetApplicationHelper().GetTotalRemesa(Model.Referenciaremesa);
    var vencimiento = Model.Tipovencimiento.ToString();

    var listCuadernos = WebHelper.GetApplicationHelper().GetListCuadernos(vencimiento).Select(f => new SelectListItem()
    {
        Text = f.Clave,
        Value = f.Clave,

    }).ToList();
    listCuadernos.Insert(0, new SelectListItem() { Text = "", Value = "" });

}

<script src="@Url.Content("~/Scripts/jquery.redirect.js")"></script>
<script src="@Url.Content("~/Scripts/Model/Articulos/Formulas/Formulas.js")"></script>
<script src="@Url.Content("~/Scripts/Model/Articulos/Formulas/FormulasService.js")"></script>
<script src="@Url.Content("~/Scripts/Model/Facturas/VencimientosController.js")"></script>

@*ReferenciaRemesa*@
@Html.HiddenFor(f => Model.Referenciaremesa)

@*Tipo*@
<div class="form-group">
    @Html.LabelFor(f => Model.Tipovencimiento, new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.EnumDropDownList("Tipovencimiento", Model.Tipovencimiento, isreadonly || iseditable ? (object)new { @class = "form-control", @disabled = "disabled" } : (object)new { @class = "form-control" })
        @Html.ValidationMessageFor(f => Model.Tipovencimiento, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(f => Model.Referenciaremesa, new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.TextBoxFor(f => Model.Referenciaremesa, isreadonly || iseditable ? (object)new { @class = "form-control", @readonly = "readonly" } : (object)new { @class = "form-control", @autofocus = "" })
    </div>

    @Html.LabelFor(f => Model.Estado, new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.TextBoxFor(f => Model.Estado, new { @class = "form-control", @disabled = "disabled" })
    </div>
</div>
@*Cuenta tesoreria*@
<div class="form-group">
    @Html.LabelFor(f => Model.Fkcuentastesoreria, new { @class = "control-label col-md-2" })
    <div class="col-md-10">

        @{
            campoverificacion.Name = "Fkcuentatesoreria";
            campoverificacion.Url = Url.Action("CuentasTiposTercerosSemiExclusiveApi", "Api");
            campoverificacion.Valor = Model.Fkcuentastesoreria;
            campoverificacion.Titulo = Operarios.Fkcuentatesoreria;
            campoverificacion.SoloLectura = isreadonly;
            campoverificacion.Params = "{\"tipocuenta\":" + (int)TiposCuentas.Cuentastesoreria + "}";
            campoverificacion.Obligatorio = true;
        }
        @Html.Partial("CampoverificacionUI", campoverificacion)

    </div>
    <div class="col-md-10 col-md-offset-2">
        @Html.ValidationMessageFor(f => Model.Fkcuentastesoreria, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(f => Model.ImporteRemesa, new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.TextBoxFor(f => importeRemesa, isreadonly || iseditable ? (object)new { @aria_label = "codigo", @class = "form-control", @readonly = "readonly" } : (object)new { @class = "form-control", @autofocus = "" })
    </div>
    <div class="col-md-2">
        @Html.ValidationMessageFor(f => importeRemesa, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(f => Model.Fecharemesa, new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.EditorFor(f => Model.Fecharemesa)
    </div>
</div>

<div class="form-group">

    @Html.LabelFor(f => Model.Cuadernos, new { @class = "control-label col-md-2" })
    <div class="col-md-4">
        @Html.DropDownListFor(f => Model.Cuadernos, listCuadernos, anulada ? (object)new { @class = "form-control", @disabled = "disabled" } : (object)new { @class = "form-control" })
    </div>

    @*<span>
            <a class="btn btn-success btn-sm" id="imprimir">Crear</a>
        </span>*@

    @*<span>
            @Html.ActionLink("Descargar", "ImprimirCuaderno", new { valorCuaderno = Model.Cuadernos })
        </span>*@

    <a class="btn btn-success btn-sm" id="descargar" href="#">Descargar</a>

</div>

<script type="text/javascript">

    $("#imprimir").click( function () {

        var idCuaderno = document.getElementById("Cuadernos");
        var valorCuaderno = idCuaderno.options[idCuaderno.selectedIndex].value;
        @*var ruta = "@System.Web.HttpContext.Current.Server.MapPath("")";*@

        if (valorCuaderno != "" && valorCuaderno != null) {
            $.ajax({
                url: '@Url.Action("ImprimirCuaderno", "Remesas")',
                dataType: "text",
                data: { valorCuaderno }
            })
        } else {
            alert("Indique un cuaderno para imprimir");
        }

    });

    $(function () {
        $("#descargar").click(function () {
            @*var ruta = "@System.Web.HttpContext.Current.Server.MapPath("")";*@
            var uri = '@Url.Action("ImprimirCuaderno", "Remesas", new { valorCuaderno = "xxxx", referencia = "yyyy" })';

            if ($("#Cuadernos").val() != "" && $("#Cuadernos").val() != null ) {
                uri = uri.replace('xxxx', $("#Cuadernos").val());
                uri = uri.replace('yyyy', $("#Referenciaremesa").val());
                uri = uri.replace('&amp;', '&');
                $(this).attr("href", uri);
            } else {
                alert("Indique un cuaderno para imprimir");
            }

        });
    });

</script>