@using Marfil.Dom.Persistencia.Model.Interfaces
@using Marfil.Dom.Persistencia.Model.Documentos.CobrosYPagos
@using Resources
@model IModelView
@{

    ViewBag.Title = ((IToolbar)Model).Toolbar.Titulo;
}

<div>
    @{
        ViewData["readonly"] = true;
    }
    <div class="form-horizontal">
        @Html.Partial("_remesas", Model as RemesasModel)
    </div>
</div>

@section GridView
{
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
)

}

@*@if (ViewBag.Modificar)
    {
        <p class="margin-top">
            <a class="btn btn-info" href="@Url.Action("Edit", new {id = ((RemesasModel)Model).Id})">
                <i class="ace-icon fa fa-pencil bigger-110"></i>
                @General.LblEditar
            </a>
        </p>
    }*@
